---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

import Layout from "@/layouts/Layout.astro";

dayjs.extend(utc);

const blogEntries = await getCollection("blogs");
---

<Layout title="Home">
  Welcome to my blog! 👋 To know more about me, please check out my Portfolio
  website <a
    href="https://jeaurond.dev/en/"
    rel="noopener noreferrer"
    target="_blank">jeaurond.dev</a
  >.

  <h2>Latest blog posts</h2>
  {
    blogEntries
      .filter((entry) => import.meta.env.DEV || !entry.data.isDraft)
      .map(async (entry) => {
        const { remarkPluginFrontmatter } = await entry.render();
        return (
          <>
            <div class="flex flex-wrap items-center justify-between gap-x-2">
              <p class="m-0">
                <a
                  href={`/${entry.slug}`}
                  transition:name={`title-${entry.slug}`}
                >
                  {entry.data.title}
                </a>{" "}
                -{" "}
                <i class="opacity-70" transition:name={`date-${entry.slug}`}>
                  {dayjs.utc(entry.data.date).format("MMMM D, YYYY")}
                </i>
              </p>
              <p
                transition:name={`time-to-read-${entry.slug}`}
                class="m-0 text-sm font-bold"
              >
                {remarkPluginFrontmatter.minutesRead}
              </p>
            </div>
            <p
              class="mt-0 text-sm"
              transition:name={`description-${entry.slug}`}
            >
              {entry.data.description}
            </p>
            <div
              class="-mt-3 flex flex-wrap gap-1 text-xs"
              transition:name={`tags-${entry.slug}`}
            >
              {entry.data.tags.map((tag) => (
                <span class="rounded-lg bg-black/80 px-2 py-1 text-white dark:bg-white/10">
                  {tag}
                </span>
              ))}
            </div>
          </>
        );
      })
  }
</Layout>
