---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { ViewTransitions } from "astro:transitions";

import { appear } from "@/animation";
import { siteDescription, siteTitle } from "@/content";

interface Props {
  title: string;
  description?: string;
  image?: {
    src: ImageMetadata;
    alt: string;
    link?: string;
  };
  slug?: string;
  bodyClass?: string;
}

const { title, ...props } = Astro.props;

const description = props.description || siteDescription;
---

<html lang="en" class="bg-white dark:bg-stone-950">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | {siteTitle}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Benoît Jeaurond" />
    <link rel="icon" href="/images/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={siteTitle}
      href={new URL("rss.xml", Astro.site)}
    />
    <link rel="canonical" href={Astro.url} />
    <meta property="og:description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="article" />
    <meta property="og:image" content={new URL("og.png", Astro.url)} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:locale" content="en_CA" />
    <meta property="twitter:card" content="summary_large_image" />
    <ViewTransitions fallback="swap" />
  </head>
  <body
    class={"px-4 py-8 lg:px-8 min-h-screen transition-colors " +
      props.bodyClass || ""}
  >
    <main
      class="container prose prose-stone mx-auto dark:prose-invert prose-a:transition-opacity prose-a:duration-75 hover:prose-a:opacity-50 prose-img:rounded-xl prose-img:shadow-md"
    >
      <nav
        class="mb-8 flex w-full flex-wrap justify-between gap-x-8 gap-y-2 text-sm sm:text-base"
      >
        <div class="flex gap-2">
          <a class="opacity-60" href="/">blog.jeaurond.dev</a>
          {"slug" in props ? "/ " + props.slug : ""}
        </div>
        <a
          href="https://jeaurond.dev/en/"
          rel="noopener noreferrer"
          target="_blank"
          class="flex items-center gap-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-briefcase-business"
            ><path d="M12 12h.01"></path><path
              d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2"></path><path
              d="M22 13a18.15 18.15 0 0 1-20 0"></path><rect
              width="20"
              height="14"
              x="2"
              y="6"
              rx="2"></rect></svg
          >
          Portfolio</a
        >
      </nav>
      {
        props.image && (
          <a
            href={props.image.link ?? ""}
            rel="noopener noreferrer"
            target="_blank"
            class="mb-8 hidden sm:block"
            transition:animate={appear}
          >
            <Image src={props.image.src} alt={props.image.alt} class="my-0" />
          </a>
        )
      }
      <h1 transition:name={`title-${props.slug}`}>
        {title}
      </h1>
      <article transition:animate={appear}>
        <slot />
      </article>
      <footer class="mt-8 flex flex-col gap-1 text-sm" transition:name="footer">
        <hr />
        <div class="flex items-center gap-2">
          <svg
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            style="height: 16px; width: 16px;"
          >
            <path
              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
            >
            </path>
          </svg>
          <p class="m-0">
            Source code available at
            <a
              href="https://github.com/BenJeau/blog"
              rel="noopener noreferrer"
              target="_blank"
            >
              @BenJeau/blog
            </a>
          </p>
        </div>
        <div class="flex items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-rss text-orange-500"
            ><path d="M4 11a9 9 0 0 1 9 9"></path><path
              d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"
            ></circle></svg
          >
          <p class="m-0 italic opacity-60">
            RSS feed available at <a
              href="/rss.xml"
              rel="noopener noreferrer"
              target="_blank">/rss.xml</a
            >
          </p>
        </div>
      </footer>
    </main>
  </body>
</html>

<style is:global>
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
